.DS_Store
.venv
hri-main
__pycache__
web_interfaces/node_modules
web_interfaces/package.json
web_interfaces/package-lock.json
package-lock.json
package.json
node_modules
.DS_Store
pepper-narrator-main
web_interfaces/users.json
users.json