deepface==0.0.90
fer==22.5.1
Flask==2.2.2
flask-cors==4.0.0
flask-socketio==5.3.6
keras
keyboard==0.13.5
librosa==0.10.1
mysql-connector-python==8.3.0
pnumpy==1.26.4
opencv-python==4.9.0.80
pyaudio==0.2.14
tensorflow
tf-keras
websockets==12.0